## Import Library

In [1]:
import pandas as pd
import numpy as np
import time as tm

In [2]:
Various_Artist=pd.read_hdf('Various_Artist.h5','a')
Various_Artist=Various_Artist.dropna()
Various_Artist.head()

         artist_name  artist_id
21   Various Artists   297472.0
30   Various Artists    21023.0
31   Various Artists    21373.0
109  Various Artists   930049.0
270  Various Artists    31104.0

In [3]:
Various_Artist.to_csv('Various_Artist',sep='\t',encoding='utf-8',index=False)
Various_Artist.dtypes

artist_name     object
artist_id      float64
dtype: object

## Clear Data

In [4]:
size=0
columns=['msno','x_login_type_desc','song_id','played_at','song_length','played_length']
for i in range(97,101,1):
    for j in range(97,123,1):
        file_name='a'+chr(i)+chr(j)
        if(file_name=='aaa'):
            df=pd.read_csv(file_name,sep='\t')
        else:
            df=pd.read_csv(file_name,sep='\t',names=columns)
        df['played_at']=pd.to_datetime(df['played_at'], errors='coerce')
        df=df.dropna()
        df['played_at']=pd.to_datetime(df['played_at'])
        df['year']=df['played_at'].dt.year
        df['month']=df['played_at'].dt.month
        df['day']=df['played_at'].dt.day
        df=df[df['year']==2016]
        df=df[df['month']==12]
        df=df[df['day']!=31]
        df=df[df['song_length']!=0]
        df.drop(['year','month','played_at','x_login_type_desc'], axis=1, inplace=True)
        df.to_csv(file_name,sep='\t',encoding='utf-8',index=False)
        print ('File_name:%s Data_size:%d'%(file_name,len(df)))
        size=size+len(df)
        if(i==100 and j==108):
            break
print ('Data_size:%d'%(size))

File_name:aaa Data_size:9579375
File_name:aab Data_size:9228441
File_name:aac Data_size:9114010
File_name:aad Data_size:8909561
File_name:aae Data_size:8008231
File_name:aaf Data_size:8069656
File_name:aag Data_size:8357848
File_name:aah Data_size:7699080
File_name:aai Data_size:8107530
File_name:aaj Data_size:8185173
File_name:aak Data_size:8082459
File_name:aal Data_size:8113765
File_name:aam Data_size:8600608
File_name:aan Data_size:8781176
File_name:aao Data_size:9378364
File_name:aap Data_size:9794509
File_name:aaq Data_size:9735526
File_name:aar Data_size:9705996
File_name:aas Data_size:9679172
File_name:aat Data_size:9724251
File_name:aau Data_size:9757820
File_name:aav Data_size:9709328
File_name:aaw Data_size:9668192
File_name:aax Data_size:9703546
File_name:aay Data_size:9729827
File_name:aaz Data_size:9686017
File_name:aba Data_size:9716124
File_name:abb Data_size:9735321
File_name:abc Data_size:9609188
File_name:abd Data_size:9694503

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,2,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

File_name:abe Data_size:9684069
File_name:abf Data_size:9560548
File_name:abg Data_size:9561706
File_name:abh Data_size:9640248
File_name:abi Data_size:9668524
File_name:abj Data_size:9708323
File_name:abk Data_size:9634281
File_name:abl Data_size:9599928
File_name:abm Data_size:9601911
File_name:abn Data_size:9703222
File_name:abo Data_size:9743640
File_name:abp Data_size:9729290
File_name:abq Data_size:9753046
File_name:abr Data_size:9748575
File_name:abs Data_size:9788163
File_name:abt Data_size:9781471
File_name:abu Data_size:9771973
File_name:abv Data_size:9768732
File_name:abw Data_size:9557456
File_name:abx Data_size:9500402
File_name:aby Data_size:9425207
File_name:abz Data_size:9557460
File_name:aca Data_size:9537821
File_name:acb Data_size:9733745
File_name:acc Data_size:9763532
File_name:acd Data_size:9527609
File_name:ace Data_size:9404948
File_name:acf Data_size:9461885
File_name:acg Data_size:9241136
File_name:ach Data_size:9410045
File_name:aci Data_size:9318397
File_name:acj Data_size:9689667
File_name:ack Data_size:9681043
File_name:acl Data_size:9559215
File_name:acm Data_size:9579593
File_name:acn Data_size:9739720
File_name:aco Data_size:9255102
File_name:acp Data_size:8902232
File_name:acq Data_size:8776390
File_name:acr Data_size:9303878
File_name:acs Data_size:9477324
File_name:act Data_size:9415440
File_name:acu Data_size:9595910
File_name:acv Data_size:9847550
File_name:acw Data_size:9751405
File_name:acx Data_size:9654588
File_name:acy Data_size:9748841
File_name:acz Data_size:9690678
File_name:ada Data_size:9610595
File_name:adb Data_size:9489245
File_name:adc Data_size:8679827
File_name:add Data_size:9185428
File_name:ade Data_size:9821337
File_name:adf Data_size:9795959
File_name:adg Data_size:9606578
File_name:adh Data_size:9637782
File_name:adi Data_size:9804036
File_name:adj Data_size:9775261
File_name:adk Data_size:9762801
File_name:adl Data_size:7487137
Data_size:846076452

In [5]:
df.head()

           msno    song_id  song_length  played_length  day
0       5471836  159134550       236121         236121   11
1      12628193  143715991       298945           4010   12
2      66768647  171890544       215197         189231   10
3  338067507366    5975275       178625         178625   12
4     127131638  174913074       249443         249443   12

In [6]:
df.dtypes

msno             int64
song_id          int64
song_length      int64
played_length    int64
day              int64
dtype: object

In [ ]:
###------------------

## Remove Various_Artist

In [ ]:
size=0
start_time=tm.time()
for ii in range(97,101,1):
    for j in range(97,123,1):
        file_name='1'+chr(ii)+chr(j)
        df=pd.read_csv(file_name,sep='\t')
        df=df[~df['artist_id'].isin(Various_Artist.artist_id)]
        df.drop(['album_id','month'], axis=1, inplace=True)
        #df.to_csv(file_name,sep='\t',encoding='utf-8',index=False)
        df.to_hdf(file_name+'.h5','a')
        print ('File_name:%s Data_size:%d'%(file_name,len(df)))
        size=size+len(df)
        if(ii==100 and j==108):
            break
end_time=tm.time()-start_time
print ('Data_size:%d Process_time:%d'%(size,end_time))

## Convert File Format to HDF5

In [ ]:
size=0
start_time=tm.time()
columns=['msno','x_login_type_desc','song_id','played_at','song_length','played_length']
for ii in range(97,101,1):
    for j in range(97,123,1):
        file_name='1'+chr(ii)+chr(j)
        if(file_name=='1aa'):
            df=pd.read_csv(file_name,sep='\t')
        else:
            df=pd.read_csv(file_name,sep='\t',names=columns)
        df=df.dropna()
        #df['played_at']=df['played_at'].apply(lambda n : pd.to_datetime(n))
        df['played_at']=pd.to_datetime(df['played_at'], errors='coerce')
        df=df.dropna()
        df['year']=df['played_at'].dt.year
        df['month']=df['played_at'].dt.month
        df['day']=df['played_at'].dt.day
        df['week']=df['played_at'].dt.weekday_name
        df=df[df['year']==2016]
        df=df[df['month']==12]
        df=df[df['song_length']!=0]
        df['number']=0
        df.drop(['year','x_login_type_desc','song_length','played_length'], axis=1, inplace=True)
        #df.to_csv(file_name,sep='\t',encoding='utf-8',index=False)
        df.to_hdf(file_name+'.h5','a')
        print ('File_name:%s Data_size:%d'%(file_name,len(df)))
        size=size+len(df)
        if(ii==100 and j==108):
            break
end_time=tm.time()-start_time
print ('Data_size:%d Process_time:%d'%(size,end_time))