In [1]:
import h5py as hp
import pandas as pd
import numpy as np
import time as tm

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
size=0
columns=['msno','song_id','song_length']
dataset2=pd.DataFrame(columns=columns)
dataset2=dataset2.groupby(['msno','song_id']).count()
for ii in range(97,101,1):
    for j in range(97,123,1):
        file_name='a'+chr(ii)+chr(j)+'.h5'
        df=pd.read_hdf(file_name,'a')
        df=df.drop(['played_length','day','artist_id','hear_percent','hear_gap'],axis=1)
        df=df.groupby(['msno','song_id']).count()
        dataset2=dataset2.add(df,fill_value=0)
        print ('File_name:%s Data_size:%d'%(file_name,len(df)))
        size=size+len(df)
        if(ii==100 and j==108):
            break
print ('Data_size:%d'%(size))

File_name:aaa.h5 Data_size:7832309
File_name:aab.h5 Data_size:7611198
File_name:aac.h5 Data_size:7512100
File_name:aad.h5 Data_size:7399694
File_name:aae.h5 Data_size:6799684
File_name:aaf.h5 Data_size:6826660
File_name:aag.h5 Data_size:7008497
File_name:aah.h5 Data_size:6519222
File_name:aai.h5 Data_size:6857448
File_name:aaj.h5 Data_size:6856522
File_name:aak.h5 Data_size:6803421
File_name:aal.h5 Data_size:6839022
File_name:aam.h5 Data_size:7244721
File_name:aan.h5 Data_size:7478813
File_name:aao.h5 Data_size:7986716
File_name:aap.h5 Data_size:8234496
File_name:aaq.h5 Data_size:8273724
File_name:aar.h5 Data_size:8254893
File_name:aas.h5 Data_size:8265745
File_name:aat.h5 Data_size:8277596
File_name:aau.h5 Data_size:8294095
File_name:aav.h5 Data_size:8324769
File_name:aaw.h5 Data_size:8286108
File_name:aax.h5 Data_size:8322071
File_name:aay.h5 Data_size:8270709
File_name:aaz.h5 Data_size:8299575
File_name:aba.h5 Data_size:8331349
File_name:abb.h5 Data_size:8322784
File_name:abc.h5 Data_size:8277658
File_name:abd.h5 Data_size:8350826
File_name:abe.h5 Data_size:8335781
File_name:abf.h5 Data_size:8240710
File_name:abg.h5 Data_size:8235624
File_name:abh.h5 Data_size:8262003
File_name:abi.h5 Data_size:8349268
File_name:abj.h5 Data_size:8354501
File_name:abk.h5 Data_size:8212909
File_name:abl.h5 Data_size:8243429
File_name:abm.h5 Data_size:8203478
File_name:abn.h5 Data_size:8321084
File_name:abo.h5 Data_size:8370932
File_name:abp.h5 Data_size:8377012
File_name:abq.h5 Data_size:8394739
File_name:abr.h5 Data_size:8369560
File_name:abs.h5 Data_size:8334442
File_name:abt.h5 Data_size:8301404
File_name:abu.h5 Data_size:8364667
File_name:abv.h5 Data_size:8343913
File_name:abw.h5 Data_size:8214827
File_name:abx.h5 Data_size:8152666
File_name:aby.h5 Data_size:8098599
File_name:abz.h5 Data_size:8069747
File_name:aca.h5 Data_size:8190911
File_name:acb.h5 Data_size:8364311
File_name:acc.h5 Data_size:8412545
File_name:acd.h5 Data_size:8217477
File_name:ace.h5 Data_size:8144589
File_name:acf.h5 Data_size:8171407
File_name:acg.h5 Data_size:8015877
File_name:ach.h5 Data_size:8094544
File_name:aci.h5 Data_size:8081167
File_name:acj.h5 Data_size:8355781
File_name:ack.h5 Data_size:8329607
File_name:acl.h5 Data_size:8276346
File_name:acm.h5 Data_size:8285639
File_name:acn.h5 Data_size:8342093
File_name:aco.h5 Data_size:7895518
File_name:acp.h5 Data_size:7758674
File_name:acq.h5 Data_size:7600886
File_name:acr.h5 Data_size:8032520
File_name:acs.h5 Data_size:8134875
File_name:act.h5 Data_size:8104769
File_name:acu.h5 Data_size:8247820
File_name:acv.h5 Data_size:8409698
File_name:acw.h5 Data_size:8353595
File_name:acx.h5 Data_size:8332828
File_name:acy.h5 Data_size:8328032
File_name:acz.h5 Data_size:8323721
File_name:ada.h5 Data_size:8269440
File_name:adb.h5 Data_size:8184616
File_name:adc.h5 Data_size:7486165
File_name:add.h5 Data_size:7948382
File_name:ade.h5 Data_size:8351122
File_name:adf.h5 Data_size:8271710
File_name:adg.h5 Data_size:8175564
File_name:adh.h5 Data_size:8054237
File_name:adi.h5 Data_size:8251862
File_name:adj.h5 Data_size:8202033
File_name:adk.h5 Data_size:8037475
File_name:adl.h5 Data_size:6153031
Data_size:722304587

In [3]:
dataset3=dataset2.reset_index()
dataset3.head()

   msno  song_id  song_length
0     7   887122          1.0
1     7  1044156          1.0
2     7  1079700          1.0
3     7  1080516          1.0
4     7  1121405          3.0

In [4]:
#dataset3=dataset3.drop(['song_length','played_length','day','hear_percent','hear_gap'],axis=1)
#dataset3.rename(columns={'song_id': 'number'}, inplace=True)
#dataset3.head()

In [6]:
dataset3.rename(columns={'song_length': 'number'}, inplace=True)
dataset3

                   msno    song_id  number
0                     7     887122     1.0
1                     7    1044156     1.0
2                     7    1079700     1.0
3                     7    1080516     1.0
4                     7    1121405     3.0
5                     7    1296452     1.0
6                     7    1317697     1.0
7                     7    1624045     1.0
8                     7    1633317     1.0
9                     7    1716420     1.0
10                    7    1716421     1.0
11                    7    1716427     2.0
12                    7    1716428     5.0
13                    7    1716431     2.0
14                    7    1920717     1.0
15                    7    1926920     1.0
16                    7    1926921     1.0
17                    7    1997961     1.0
18                    7    2281937     1.0
19                    7    2281938     1.0
20                    7    2336230     1.0
21                    7    3773383     1.0
22                    7    4231118     1.0
23                    7    4979391     1.0
24                    7    5677236     1.0
25                    7   34521135     1.0
26                    7   38857462     1.0
27                    7   64458233     1.0
28                    7   78312383     2.0
29                    7  110995991     1.0
...                 ...        ...     ...
255012423  338070105421   47529946     2.0
255012424  338070105421   52663446     1.0
255012425  338070105421   61637411     1.0
255012426  338070105421   86833182     1.0
255012427  338070105421  121232513     1.0
255012428  338070105421  139138807     1.0
255012429  338070105421  143442866     1.0
255012430  338070105421  148788708     2.0
255012431  338070105421  215069883     1.0
255012432  338070107954     912392     1.0
255012433  338070107954    1544111     1.0
255012434  338070107954    1544113     1.0
255012435  338070107954    1544123     1.0
255012436  338070107954    1601984     1.0
255012437  338070107954    1887611     1.0
255012438  338070107954    3742296     1.0
255012439  338070107954    3742298     1.0
255012440  338070107954   16772991     1.0
255012441  338070107954  107110041     1.0
255012442  338070107954  138453005     2.0
255012443  338070107954  138453012     2.0
255012444  338070107954  171942544     1.0
255012445  338070107954  171942614     1.0
255012446  338070107954  197456997     1.0
255012447  338070107954  207041852     1.0
255012448  338070107954  207042013     1.0
255012449  338070120531  179968138     1.0
255012450  338070123723   19696569     2.0
255012451  338070123723   19696716     2.0
255012452  338070123723   50335158     3.0

[255012453 rows x 3 columns]

In [7]:
#dataset3.to_hdf('msno_song.h5','a')

In [8]:
dataset3.sort_values('number',ascending=False)

                   msno    song_id   number
118765217      55848869   45547784  21189.0
66561591       22004701     890362  20150.0
30005975        6531702    1700789  17272.0
50941489       11997023   38632161  16572.0
47750246       10881515    2251669  15538.0
152387862      96591554    2251669  14940.0
65022298       20794039    3516132  13756.0
47055588       10617191    1700789  12457.0
199946068     136372423    1614737  11783.0
233836155  338063488827     965340  11497.0
9054063         2106482    1767342  11322.0
85405414       30193358     876309  11128.0
140146540      77612874   46273617  10962.0
111694294      49143332    2251698  10726.0
90995122       33559407    1914968  10372.0
70003048       23752316    2251698  10066.0
201042657     137273110   42765251   9953.0
8773655         2057534   51689838   9882.0
18703194        4014724    1042822   9739.0
47876762       10927497   42781982   9696.0
225473295     154811189    1614737   9314.0
13685442        3027997    2251710   9297.0
54637197       13471463    1178843   9278.0
60712873       17274535    2251667   9223.0
216614298     147421600   51048265   9121.0
23171196        5023530   46294098   8987.0
148349220      91602971    2251669   8892.0
83027992       28844032    2251669   8842.0
3326873         1031483    1700789   8711.0
95792954       35954931   47649113   8670.0
...                 ...        ...      ...
110395694      48108772   47103176      1.0
110395698      48108772   63467166      1.0
110395699      48108772   63467188      1.0
110395702      48108772   84511648      1.0
110395704      48108772   84511692      1.0
110395706      48108772   84511725      1.0
110395713      48108772   95335082      1.0
110395716      48108772   95335115      1.0
110395718      48108772  127139746      1.0
110395681      48108772   33888653      1.0
110395680      48108772   33342134      1.0
110395677      48108772   32703955      1.0
110395659      48108772   16622633      1.0
110395649      48108772    5907637      1.0
110395650      48108772    7109632      1.0
110395651      48108772    7208479      1.0
110395652      48108772   15349533      1.0
110395653      48108772   15349539      1.0
110395655      48108772   16169932      1.0
110395657      48108772   16407271      1.0
110395660      48108772   16622780      1.0
110395676      48108772   32703736      1.0
110395661      48108772   16622783      1.0
110395664      48108772   22503561      1.0
110395665      48108772   23027993      1.0
110395669      48108772   23373081      1.0
110395670      48108772   23373087      1.0
110395672      48108772   23373093      1.0
110395674      48108772   23621689      1.0
127506226      64409630    2008271      1.0

[255012453 rows x 3 columns]