In [1]:
import h5py as hp
import pandas as pd
import numpy as np
import time as tm

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
size=0
start_time=tm.time()
columns=['msno','song_id','song_length','played_length','day','artist_id','hear_percent','hear_gap']
dataset2=pd.DataFrame(columns=columns)
dataset2=dataset2.groupby(['msno','artist_id']).count()
for ii in range(97,101,1):
    for j in range(97,123,1):
        file_name='a'+chr(ii)+chr(j)+'.h5'
        df=pd.read_hdf(file_name,'a')
        df=df.groupby(['msno','artist_id']).count()
        dataset2=dataset2.add(df,fill_value=0)
        print ('File_name:%s Data_size:%d'%(file_name,len(df)))
        size=size+len(df)
        if(ii==100 and j==108):
            break
end_time=tm.time()-start_time
print ('Data_size:%d Process_time:%d'%(size,end_time))

File_name:aaa.h5 Data_size:6007001
File_name:aab.h5 Data_size:5870285
File_name:aac.h5 Data_size:5815119
File_name:aad.h5 Data_size:5805862
File_name:aae.h5 Data_size:5472740
File_name:aaf.h5 Data_size:5494705
File_name:aag.h5 Data_size:5606062
File_name:aah.h5 Data_size:5246958
File_name:aai.h5 Data_size:5522247
File_name:aaj.h5 Data_size:5483802
File_name:aak.h5 Data_size:5485685
File_name:aal.h5 Data_size:5503498
File_name:aam.h5 Data_size:5810065
File_name:aan.h5 Data_size:6113324
File_name:aao.h5 Data_size:6501131
File_name:aap.h5 Data_size:6561531
File_name:aaq.h5 Data_size:6702635
File_name:aar.h5 Data_size:6660482
File_name:aas.h5 Data_size:6708141
File_name:aat.h5 Data_size:6711085
File_name:aau.h5 Data_size:6730860
File_name:aav.h5 Data_size:6787074
File_name:aaw.h5 Data_size:6764813
File_name:aax.h5 Data_size:6829085
File_name:aay.h5 Data_size:6692342
File_name:aaz.h5 Data_size:6778965
File_name:aba.h5 Data_size:6794443
File_name:abb.h5 Data_size:6753040
File_name:abc.h5 Data_size:6775801
File_name:abd.h5 Data_size:6846554
File_name:abe.h5 Data_size:6858008
File_name:abf.h5 Data_size:6750324
File_name:abg.h5 Data_size:6739107
File_name:abh.h5 Data_size:6726061
File_name:abi.h5 Data_size:6873675
File_name:abj.h5 Data_size:6874304
File_name:abk.h5 Data_size:6675589
File_name:abl.h5 Data_size:6759529
File_name:abm.h5 Data_size:6709069
File_name:abn.h5 Data_size:6826265
File_name:abo.h5 Data_size:6865677
File_name:abp.h5 Data_size:6899642
File_name:abq.h5 Data_size:6891901
File_name:abr.h5 Data_size:6904713
File_name:abs.h5 Data_size:6796642
File_name:abt.h5 Data_size:6731611
File_name:abu.h5 Data_size:6857072
File_name:abv.h5 Data_size:6787268
File_name:abw.h5 Data_size:6734357
File_name:abx.h5 Data_size:6682096
File_name:aby.h5 Data_size:6611762
File_name:abz.h5 Data_size:6483691
File_name:aca.h5 Data_size:6716035
File_name:acb.h5 Data_size:6871822
File_name:acc.h5 Data_size:6931265
File_name:acd.h5 Data_size:6773673
File_name:ace.h5 Data_size:6724291
File_name:acf.h5 Data_size:6712195
File_name:acg.h5 Data_size:6622747
File_name:ach.h5 Data_size:6603190
File_name:aci.h5 Data_size:6688440
File_name:acj.h5 Data_size:6864154
File_name:ack.h5 Data_size:6807010
File_name:acl.h5 Data_size:6813143
File_name:acm.h5 Data_size:6800974
File_name:acn.h5 Data_size:6796018
File_name:aco.h5 Data_size:6392850
File_name:acp.h5 Data_size:6422481
File_name:acq.h5 Data_size:6208918
File_name:acr.h5 Data_size:6577277
File_name:acs.h5 Data_size:6670815
File_name:act.h5 Data_size:6650532
File_name:acu.h5 Data_size:6759303
File_name:acv.h5 Data_size:6843299
File_name:acw.h5 Data_size:6798798
File_name:acx.h5 Data_size:6847865
File_name:acy.h5 Data_size:6739104
File_name:acz.h5 Data_size:6767675
File_name:ada.h5 Data_size:6741782
File_name:adb.h5 Data_size:6687550
File_name:adc.h5 Data_size:6120804
File_name:add.h5 Data_size:6519815
File_name:ade.h5 Data_size:6744327
File_name:adf.h5 Data_size:6622649
File_name:adg.h5 Data_size:6584224
File_name:adh.h5 Data_size:6328707
File_name:adi.h5 Data_size:6535925
File_name:adj.h5 Data_size:6473774
File_name:adk.h5 Data_size:6210745
File_name:adl.h5 Data_size:4696414
Data_size:586544288 Process_time:13004

In [3]:
dataset3=dataset2.reset_index()
dataset3.head()

,msno,artist_id,song_id,song_length,played_length,day,hear_percent,hear_gap
0,7,14.0,1.0,1.0,1.0,1.0,1.0,1.0
1,7,584.0,5.0,5.0,5.0,5.0,5.0,5.0
2,7,1139.0,1.0,1.0,1.0,1.0,1.0,1.0
3,7,3404.0,5.0,5.0,5.0,5.0,5.0,5.0
4,7,5301.0,1.0,1.0,1.0,1.0,1.0,1.0

In [4]:
dataset3=dataset3.drop(['song_length','played_length','day','hear_percent','hear_gap'],axis=1)
dataset3.rename(columns={'song_id': 'number'}, inplace=True)
dataset3.head()

   msno  artist_id  number
0     7       14.0     1.0
1     7      584.0     5.0
2     7     1139.0     1.0
3     7     3404.0     5.0
4     7     5301.0     1.0

In [5]:
dataset3.to_hdf('msno_artist.h5','a')